extends base

//- this block will append data in the head block not write it
block append head
    script(src="/js/mapBox.js") 
    
//- this block will rewrite the code of the block in the parent
block content 
    h1 overView
