doctype html

html 
    head 
        block head
        

    body 
        include _header
        
        block content
            h1 blockContent

        h1 The Udemy Course of ExpressJS 

        include _footer

        script(src="/js/mapBox.js") 
    