extends base

//- this block will append data in the head block not write it
block append head
    
//- this block will rewrite the code of the block in the parent
block content 
    #map
    h1 overView
    //- each user in customer
    //-     #map(data-locations=`${JSON.stringify(user.location)}`)